:root {
	--shadow: #00000022;
	--primary: #90d0d0;
	--primary-op5: #90ffff99;
	--primary-whiter: #ddffff;
	--secondary: #9090c0;
	--secondary-op5: #9090ff99;
	--secondary-whiter: #ddddff;
}

html {
	font-family: "Arial";
}

body {
	margin: 0;
	background: linear-gradient(to right, var(--primary), var(--secondary));
    font-family: 'Inter', sans-serif;
    color: #002222;
}

nav {
	height: 75px;
	background: linear-gradient(to right, var(--primary-whiter), var(--secondary-whiter));
	box-shadow: 0px 5px 14px 0px var(--shadow);
}

h1 {
	color: #fff;
	font-weight: bolder;
	font-size: 3vw;
	text-shadow: 0px 5px 14px var(--shadow);
}

a.nav-link, .kf-logo {
	color: #002222 !important;
}

.container {
	margin-top: 25px;
	width: 90vw;
}

@keyframes open {
  from {
    opacity: 0;
	transform: perspective(5cm) rotateX(-20deg) translateY(-250px);
  }
  to {
    opacity: 1;
	transform: perspective(5cm);
  }
}

@keyframes open2 {
  from {
    opacity: 0;
	transform: perspective(5cm) scale(90%);
  }
  to {
    opacity: 1;
	transform: perspective(5cm);
  }
}

@keyframes close {
  from {
    opacity: 1;
	transform: perspective(5cm);
  }
  to {
    opacity: 0;
	transform: perspective(5cm) rotateX(20deg) translateY(250px);
  }
}

dialog {
	width: 50vw;
	padding: 1em;
	border: none;
	border-radius: 10px;
	box-shadow: 0px 5px 14px 0px var(--shadow);
	max-width: 400px;
	background: #fff;
	z-index: 9999;
	h3 {
		margin-top: 0;
	}
	form {
		display: flex;
		flex-direction: column;
		gap: 0.5em;
	}
	transition: display 0.5s allow-discrete, overlay 0.5s allow-discrete;
	animation: close 0.35s forwards;
	animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
	&[open] {
		animation: open 0.5s forwards;
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}
}

dialog::backdrop {
	background: linear-gradient(to right, var(--primary-op5), var(--secondary-op5));
	transition: display 0.2s ease;
}

.site-footer {
  margin-top: auto;         /* pushes footer to bottom */
  min-height: 45vh;        /* footer takes at least this much */
  width: 100%;
  background: #eff;
  color: #000;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
  margin-top: 50px;
}

.col, .container-table {
	background-color: white;
	border-radius: 25px;
	padding: 2%;
	margin: 5px;
	color: #222222;
	box-shadow: 0px 5px 14px 0px var(--shadow);
}

.btn-a {
	background-color: #ddffff;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 6px 16px;
    font-weight: 500;
}

.btn-b {
	background-color: #0050f0;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px 16px;
    font-weight: 500;
}

.wow {
	animation: open2 0.5s forwards;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}